@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background: linear-gradient(90deg, #FF7F7C 0%, #FDA9A9 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.signup-card {
    border-radius: 10px;
    background-color: #ffa5a3;
    padding: 20px; /* Ensuring 20px padding at all times */
    margin: auto;
    max-width: 100%; /* Ensure it doesn't exceed the screen width */
    position: relative;
    box-shadow: 0px 2.85px 49.8px 0px rgba(0, 0, 0, 0.1);
}

.social-login {
    display: flex;
    justify-content: center;
    gap: 15px; /* Adjust the gap between the icons */
    margin-top: 20px; /* Add some margin at the top to separate from other elements */
    background: transparent;
    width: 400px;
    right: 0;
    left: 0;
    margin: auto;
}

.social-login a {
    border: 1px solid #ddd;
    padding: 10px;
    width: 140px;
    height: 50px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 768px) {
    .signup-card {
        width: 600px; /* Width for tablets and small devices */
    }
}

@media (min-width: 992px) {
    .signup-card {
        width: 800px; /* Width for larger devices */
    }
}

@media (min-width: 1200px) {
    .signup-card {
        width: 1000px; /* Width for extra-large devices */
    }
}

.logo-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
    width: 100%;
}

.logo-container h2 {
    color: #fff;
    margin-left: 30px;
    font-size: 48px;
    line-height: 72px;
    font-family: "Poppins", sans-serif;;
    color: black;
    font-weight: 900;
}

.logo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    right: 30px;
    top: -1px;
}

.form-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-content form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.btn-custom {
    background-color: red;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    width: 100%;
    margin-bottom: 15px;
    border-radius: 6px;
}



.sign-up a {
    color: #FF6F61;
    text-decoration: none;
}

.password-input {
    position: relative;
}

.password-input input {
    padding-right: 30px;
}


.password-input .toggle-password1 {
    position: absolute;
    right: 10px;
    top: 74%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #999;
}

.password-input .toggle-password2 {
    position: absolute;
    right: 10px;
    top: 74%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #999;
}

label{
    color: black;
    font-weight: 800;
    font-family: "Poppins", sans-serif;
}

.last-statement{
    font-weight: 600;
    font-family: "Poppins", sans-serif;
}
